/* custom styles */
/* ##################### */
/* ##################### */
/* ##################### */
/* ##################### */

/* About us Style */
.aboutus-main {
  padding: 60px 20px;
}

@media (min-width: 768px) {
  .aboutus-main {
    padding: 120px 72px;
  }
}

/* Achievement Section */
.achievement {
  padding: 60px 20px;
  background-color: hsla(216, 100%, 98%, 1);
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: space-between;
  gap: 2rem;
}

.achievement > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.achievement-value {
  color: hsla(216, 100%, 50%, 1);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-secondary-heading);
  line-height: 56px;
  text-align: center;
  width: 100%;
}
.achievement-title {
  color: hsla(0, 6%, 8%, 1);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-500);
  line-height: 32px;
  text-align: center;
  width: 100%;
}

@media (min-width: 1024px) {
  .achievement {
    padding: 60px 108px;

    flex-direction: row;
    align-items: top;
    justify-content: space-between;
  }
}

/* Aboutus Feature */

.aboutus-feature {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 96px;
}
.aboutus-feature header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.aboutus-feature header h2 {
  font-weight: var(--fw-semi-bold);
  font-size: 48px;
  line-height: 56px;
  color: hsla(0, 6%, 8%, 1);
  text-align: center;
}
.aboutus-feature header p {
  font-weight: var(--fw-regular);
  font-size: 20px;
  line-height: 32px;
  color: hsla(0, 0%, 38%, 1);
  text-align: center;
}
.aboutus-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 44px;
  width: 100%;
}
.aboutus-illustrator_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 44px;
  width: inherit;
}

.satisfied-client__illustrator {
  border-radius: 16px;
  background-color: hsla(216, 100%, 60%, 1);
  width: 100%;
  position: relative;
}
.illustrator-img {
  width: 100%;
}
.illustrator-img img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 58/55;
}
.satisfied-client__content {
  display: flex;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.satisfied-client__content h1 {
  color: white;
  line-height: 104px;
  font-size: 96px;
  font-weight: 700;
}
.full-small-gray {
  position: absolute;
  top: 8%;
  right: 32%;
}
.full-small-gray {
  position: absolute;
  top: 8%;
  right: 32%;
}
.full-small-white {
  position: absolute;
  bottom: 0;
  right: 0;
}
.satisfied-client__content h5 {
  line-height: 32px;
  font-size: 24px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 1);
}

.aboutus-feature_items {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40.5px;
}
.aboutus-feature_item {
  width: 100%;
  margin: 0 auto;
}
.aboutus-feature_item h1 {
  line-height: 32px;
  font-size: 20px;
  font-weight: 600;
  color: hsla(0, 6%, 8%, 1);
}

.aboutus-feature_item p {
  color: white;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: hsla(0, 0%, 38%, 1);
}

@media (min-width: 1024px) {
  .aboutus-feature {
    padding: 72px 120px;
  }
  .aboutus-feature header {
    flex-direction: row;
    justify-content: start;
  }
  .aboutus-feature header h2 {
    width: 50%;
    text-align: start;
  }
  .aboutus-feature header p {
    width: 50%;
    text-align: start;
  }

  .aboutus-illustrator_container {
    flex-direction: row;
  }

  .satisfied-client__illustrator {
    background-color: hsla(216, 100%, 60%, 1);
    width: 33%;
    height: 370px;
    position: relative;
  }
  .illustrator-img {
    width: 75%;
    height: 370px;
  }
  .illustrator-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 58/55;
    border-radius: 16px;
    object-position: center;
  }
  .satisfied-client__content {
    display: flex;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutus-feature_items {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40.5px;
  }
  .aboutus-feature_item {
    width: 25%;
    margin: 0 auto;
  }
}

.aboutus-services {
  padding: 60px 20px;
}
.aboutus_service_image {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.aboutus_service_image img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .aboutus_service_image {
    min-width: 50%;
    width: 60%;
  }

  .aboutus-services {
    padding: 72px 120px;
  }
}

/* Need section */

.aboutus-need {
  padding: 60px 20px;
}
.aboutus_service_image {
  width: 100%;
  height: 450px;
  border-radius: 16px;
}

.aboutus_service_image img {
  border-radius: 16px;
  width: 100%;
}
.need_list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.need_list li {
  display: flex;
  justify-content: center;
  align-items: start;
}
.need_list li > strong {
  font-size: var(--fs-body);
  font-weight: 400;
  color: hsla(0, 6%, 8%, 1);
  margin-right: 4px;
  width: fit-content;
  white-space: nowrap;
}
.need_list li > span {
  color: hsla(0, 0%, 38%, 1);
}
.need_list li::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='23' viewBox='0 0 18 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.57216 17.9615C6.2614 17.9615 5.95124 17.8449 5.71392 17.6109L0 11.9788L1.71648 10.2862L6.57216 15.0725L16.2835 5.5L18 7.19253L7.4304 17.6109C7.19308 17.8449 6.88292 17.9615 6.57216 17.9615Z' fill='%230066FF'/%3E%3C/svg%3E%0A");
  display: inline-block;
  max-height: 22px;
  max-width: 18px;
  min-height: 22px;
  min-width: 18px;
  margin-right: 12px;
}
@media (min-width: 1024px) {
  .aboutus_service_image {
    min-width: 300px;
    width: 45%;
  }

  .aboutus-need {
    padding: 72px 120px;
  }
}
.team {
  padding: 60px 20px;
  background-color: hsla(216, 100%, 98%, 1);
}

.team-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
.team-member {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto;
  align-items: start;
  justify-content: start;
  gap: 40px;
}

.member_image img {
  border-radius: 10px;
}

.member_info h4 {
  font-weight: var(--fw-semi-bold);
  font-size: 32px;
  line-height: 40px;
  color: hsla(0, 6%, 8%, 1);
}

.member_info p {
  font-weight: var(--fw-semi-bold);
  font-size: 20px;
  line-height: 32px;
  color: hsla(0, 0%, 38%, 1);
}

@media (min-width: 1024px) {
  .team {
    padding: 72px 120px;
  }

  .team-members {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }
  .team-member {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: auto;
    align-items: start;
    justify-content: start;
    gap: 40px;
  }
}
