/* custom styles */
.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 50;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-header {
  display: none;
  width: 100%;
  padding: 14px 72px;
  background-color: transparent;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  box-sizing: border-box;
}

.main-header__brand {
  display: none;
}

@media (max-width: 1023px) {
  .main-header .main-header__brand.light.sm,
  .mobile-nav .main-header__brand.light.sm {
    display: block;
  }
  .main-header .main-header__brand.light.lg,
  .mobile-nav .main-header__brand.light.lg,
  .main-header .main-header__brand.dark,
  .mobile-nav .main-header__brand.dark {
    display: none;
  }
}

@media (min-width: 1024px) {
  .main-header .main-header__brand.light.lg,
  .mobile-nav .main-header__brand.light.lg {
    display: block;
  }
  .main-header .main-header__brand.light.sm,
  .mobile-nav .main-header__brand.light.sm,
  .main-header .main-header__brand.dark,
  .mobile-nav .main-header__brand.dark {
    display: none;
  }
}

.main-header.sticking .main-header__brand.dark,
.mobile-nav.sticking .main-header__brand.dark {
  display: block;
}
.main-header.sticking .main-header__brand.light.sm,
.main-header.sticking .main-header__brand.light.lg,
.mobile-nav.sticking .main-header__brand.light.sm,
.mobile-nav.sticking .main-header__brand.light.lg {
  display: none;
}

@media (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 1023px) {
  .main-header {
    display: none;
  }
}

.main-header.sticking,
.mobile-nav.sticking {
  background-color: hsla(0, 0%, 100%, 1);
  border-bottom: 2px solid hsla(0, 0%, 94%, 1);
  /* refactor */
}
.main-nav--style .main-header__brand {
  display: block;
}

.main-nav--style {
  background-color: white;
}
#menu-item-64 a {
  color: var(--clr-neutral-white) !important;
}

.main-nav--style ul li a {
  color: var(--clr-neutral-black) !important;
}

.main-header ul li a:hover,
.main-header ul li a:hover,
.main-nav--style ul li a:hover,
.main-nav--style ul li a:hover,
.top-menu li.current-menu-item a,
.mobile-menu li.current-menu-item a,
.sub-menu li a:hover {
  color: hsla(216, 100%, 50%, 1) !important;
}

.sub-menu li.current-menu-item a {
  color: hsl(0, 0%, 0%) !important;
}

.main-header .menu {
  display: flex;
  align-items: center;
}

.main-header ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.main-header ul li a,
.mobile-nav__container {
  font-size: var(--fs-nav);
  line-height: 1.5rem;
  padding: 1rem 0.75rem;
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-white);
}

.sticking ul li a {
  color: var(--clr-neutral-black);
}

.top-menu .sub-menu {
  display: none;
  position: absolute;
  background: hsla(0, 0%, 100%, 1);
  min-width: 268px;
  box-shadow: 35px 30px 48px hsla(225, 100%, 60%, 0.05);
  z-index: 100;
  padding: 1.5rem 0;
  margin: 0;
  list-style: none;
}
.main-nav--style .top-menu .sub-menu {
  background: white;
  color: black;
}

.top-menu .sub-menu.is-active {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.top-menu .sub-menu li {
  width: 100%;
}

.top-menu .sub-menu li a {
  color: hsla(0, 6%, 8%, 1);
  font-weight: var(--fw-medium);
  font-size: var(--fs-nav);
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.top-menu:first-of-type > li:last-child {
  border: 1px solid transparent;
  border-radius: 40px;
  background-color: var(--clr-primary-800);
  padding: 10px 24px;
  height: 2.5rem;
}

.top-menu:first-of-type > li:last-child:hover {
  border: 1px solid var(--clr-primary-800);
  background-color: var(--clr-neutral-gray-200);
  transition: all 250ms ease-out;
}

#menu-item-64:hover a {
  color: var(--clr-primary-800) !important;
  transition: all 350ms ease-out;
}

.service-icon-wrapper > div {
  border-radius: 1000000px;
  background-color: var(--clr-primary-800);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 8px;
}

/* Second level dropdowns */
.top-menu .sub-menu .menu-item-has-children > .sub-menu {
  left: 100%;
  top: 0;
}

/* Toggle button */
.toggle-button,
.toggle-btn--white {
  border: none;
  background: transparent;
  cursor: pointer;
}
/* white */
.toggle-button::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.75281 18.4997H21.2528C21.667 18.4997 22.0028 18.8355 22.0028 19.2497C22.0028 19.6294 21.7207 19.9432 21.3546 19.9928L21.2528 19.9997H2.75281C2.3386 19.9997 2.00281 19.6639 2.00281 19.2497C2.00281 18.87 2.28497 18.5562 2.65104 18.5065L2.75281 18.4997H21.2528H2.75281ZM2.75281 12.0027H21.2528C21.667 12.0027 22.0028 12.3385 22.0028 12.7527C22.0028 13.1324 21.7207 13.4462 21.3546 13.4959L21.2528 13.5027H2.75281C2.3386 13.5027 2.00281 13.1669 2.00281 12.7527C2.00281 12.373 2.28497 12.0592 2.65104 12.0095L2.75281 12.0027H21.2528H2.75281ZM2.75195 5.50293H21.252C21.6662 5.50293 22.002 5.83872 22.002 6.25293C22.002 6.63263 21.7198 6.94642 21.3537 6.99608L21.252 7.00293H2.75195C2.33774 7.00293 2.00195 6.66714 2.00195 6.25293C2.00195 5.87323 2.28411 5.55944 2.65018 5.50978L2.75195 5.50293H21.252H2.75195Z' fill='white'/%3E%3C/svg%3E%0A");
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
}
/* mobile nav home page  black */
.sticking .toggle-button:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-menu-icon lucide-menu'%3E%3Cline x1='4' x2='20' y1='12' y2='12'/%3E%3Cline x1='4' x2='20' y1='6' y2='6'/%3E%3Cline x1='4' x2='20' y1='18' y2='18'/%3E%3C/svg%3E");
}

/* other pages except home */
.toggle-btn--white:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-menu-icon lucide-menu'%3E%3Cline x1='4' x2='20' y1='12' y2='12'/%3E%3Cline x1='4' x2='20' y1='6' y2='6'/%3E%3Cline x1='4' x2='20' y1='18' y2='18'/%3E%3C/svg%3E");
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Mobile Navigation */
.mobile-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px 25px;
  background-color: transparent;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  max-width: 1400px;
}

.mobile-nav__container {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background: var(--clr-neutral-gray-200);
  width: 80%;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 4s ease-in-out;
}

.mobile-nav__logo {
  width: 110px;
  height: 40px;
}

.mobile-nav__container .menu-item {
  padding: 1rem;
}

.open {
  display: block;
}
.mobile-nav ul li a {
  color: rgb(12, 12, 12);
}

.mobile-nav__container.open {
  transform: translateX(0);
}

.mobile-menu .sub-menu {
  display: none;
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.mobile-menu .menu-item-has-children {
  position: relative;
  width: fit-content;
}

.mobile-menu .sub-menu.is-active {
  display: block;
}

.mobile-menu .sub-menu li {
  width: 100%;
}
.mobile-nav ul li a:hover,
.mobile-nav ul li a:active {
  color: hsla(216, 100%, 50%, 1);
}

.main-nav--style ul li a:hover,
.main-nav--style ul li a:active {
  color: hsla(216, 100%, 50%, 1);
}

.mobile-menu:first-of-type > li:last-child {
  border: 1px solid transparent;
  border-radius: 40px;
  background-color: var(--clr-primary-800);
  padding: 10px 24px;
  height: 2.5rem;
  width: fit-content;
}

.mobile-menu:first-of-type > li:last-child:hover {
  border: 1px solid var(--clr-primary-800);
  background-color: var(--clr-neutral-gray-200);
  transition: all 250ms ease-out;
}

#menu-item-234 a {
  color: white;
}
#menu-item-234:hover a {
  color: var(--clr-primary-800) !important;
  transition: all 350ms ease-out;
}

.mobile-menu .sub-menu li a {
  color: rgb(12, 12, 12);
  font-weight: var(--fw-medium);
  font-size: var(--fs-nav);
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

.service-icon-wrapper > div {
  border-radius: 1000000px;
  background-color: var(--clr-primary-800);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 8px;
}

/* dropdown toggle */
.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  height: auto;
}

.dropdown-toggle:after {
  content: "";
  /* white */
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8333 5.66602L8.16667 10.3327L3.5 5.66602' stroke='white' stroke-linecap='square'/%3E%3C/svg%3E%0A");
  position: relative;
  top: 4px;
  display: block;
  height: 1rem;
  width: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.top-menu li:hover .dropdown-toggle:after,
.top-menu li.current-menu-item .dropdown-toggle:after,
.mobile-menu li.current-menu-item .dropdown-toggle:after,
.mobile-menu li:hover .dropdown-toggle::after {
  content: "";
  /* blue icon */
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8333 5.66602L8.16667 10.3327L3.5 5.66602' stroke='%230066FF' stroke-linecap='square'/%3E%3C/svg%3E%0A");
  position: relative;
  top: 4px;
  display: block;
  height: 1rem;
  width: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.dropdown-toggle.darkbtn:after,
.dropdown-toggle.mobile:after,
.main-nav--style .dropdown-toggle:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8333 5.66602L8.16667 10.3327L3.5 5.66602' stroke='%23151212' stroke-linecap='square'/%3E%3C/svg%3E%0A");
  position: relative;
  top: 4px;
  display: block;
  height: 1rem;
  width: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .mobile-nav,
  .backdrop {
    display: none;
  }
}

/* footer */

.footer {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
/* Get in Touch Section */
.get-in-touch_container {
  padding: 120px 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.get-in-touch-background {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.get-in-touch_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.get-in-touch_container h2 {
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-700);
  line-height: 40px;
  letter-spacing: 0;
  text-align: center;
  color: hsla(0, 0%, 100%, 1);
}
.get-in-touch_container p {
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-body);
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: hsla(215, 100%, 95%, 1);
}
.get_in_touch_btn {
  margin: 0 auto;
  margin-top: 12px;
}
@media (min-width: 1024px) {
  .get-in-touch_content {
    max-width: 25%;
  }
}

.footer-main {
  background-color: hsla(221, 41%, 15%, 1);
  padding: 60px 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 40px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer_header-description {
  font-size: 14px;
  font-weight: 400;
  color: var(--clr-neutral-gray-500);
  line-height: 160%;
  margin-top: 24px;
}

.footer_link-title {
  font-weight: var(--fw-semi-bold);
  font-size: 20px;
  color: #ffffff;
  line-height: 32px;
  letter-spacing: 0;
}

.footer-main .menu-item {
  padding: 0;
}
.footer_quick_links,
.footer_services_links,
.footer_contact_us {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer_quick_links ul,
.footer_services_links ul,
.footer_contact_us ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer_quick_links .menu-item a {
  color: var(--clr-neutral-gray-500);
  line-height: 160%;
  font-weight: var(--fw-regular);
  font-size: 14px;
}

.footer_services_links .menu-item a {
  color: var(--clr-neutral-gray-500);
  line-height: 160%;
  font-weight: var(--fw-regular);
  font-size: 14px;
}
.footer_contact_us .menu-item a {
  color: var(--clr-neutral-gray-500);
  line-height: 160%;
  font-weight: var(--fw-regular);
  font-size: 14px;
}
.footer-end {
  background-color: hsl(221, 22%, 25%);
  padding: 60px 20px;
  width: 100%;
}

.footer-end {
  background-color: hsl(221, 22%, 25%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 18px 20px;
}
.footer-end ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-end .menu-item a {
  color: var(--clr-neutral-gray-200);
  line-height: 16px;
  letter-spacing: 0;
  font-weight: var(--fw-regular);
  font-size: 12px;
}

.footer-end p {
  color: var(--clr-neutral-gray-500);
  line-height: 16px;
  letter-spacing: 0;
  font-weight: var(--fw-regular);
  font-size: 12px;
}

/* footer-end_links  */
.footer-end_links .menu {
  gap: 24px;
}
@media (min-width: 768px) {
  .footer-main {
    padding: 75px 72px 82px 72px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-links {
    flex-direction: row;
    gap: 112px;
  }
  .footer_header {
    width: 20%;
  }
  .footer-end {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 72px;
  }

  .footer_header-description {
    font-size: 16px;
  }
  .footer_quick_links .menu-item a {
    color: var(--clr-neutral-gray-500);
    line-height: 24px;
    font-weight: var(--fw-regular);
    font-size: 16px;
  }
  .footer_services_links .menu-item a {
    color: var(--clr-neutral-gray-500);
    line-height: 24px;
    font-weight: var(--fw-regular);
    font-size: 16px;
  }
  .footer_contact_us .menu-item a {
    color: var(--clr-neutral-gray-500);
    line-height: 24px;
    font-weight: var(--fw-regular);
    font-size: 16px;
  }

  .footer-end .menu-item a {
    color: var(--clr-neutral-gray-200);
    line-height: 20px;
    letter-spacing: 0;
    font-weight: var(--fw-regular);
    font-size: 14px;
  }

  .footer-end p {
    line-height: 20px;
    letter-spacing: 0;
    font-weight: var(--fw-regular);
    font-size: 14px;
  }
}

/* button 1  fill*/

.contact_btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  width: fit-content;
  padding: 20px 40px;
  border-radius: 36px;
  color: var(--clr-neutral-white);
  background-color: var(--clr-primary-800);
  margin-top: 8px;
  padding: 1.125rem 2.5rem;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: var(--fw-medium);
  font-size: var(--fs-button);
}

.contact_btn--text {
  font-size: var(--fs-button);
  font-weight: var(--fw-medium);
}
.contact_btn:hover,
.contact_btn:active {
  background-color: var(--clr-neutral-white);
  color: var(--clr-primary-800);
  border: 1px solid var(--clr-primary-800);
  cursor: pointer;
  transition: color 200ms ease-in-out;
}

.contact_btn:hover .contact_btn--icon::after {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2654 5.20511C12.9644 4.92049 12.4897 4.93371 12.2051 5.23464C11.9205 5.53558 11.9337 6.01027 12.2346 6.29489L17.4737 11.25H4.75C4.33579 11.25 4 11.5858 4 12C4 12.4142 4.33579 12.75 4.75 12.75H17.476L12.2346 17.7073C11.9337 17.9919 11.9205 18.4666 12.2051 18.7675C12.4897 19.0684 12.9644 19.0817 13.2654 18.797L19.6826 12.7276C19.8489 12.5703 19.9489 12.3702 19.9826 12.1614C19.994 12.1094 20 12.0554 20 12C20 11.9424 19.9935 11.8863 19.9812 11.8325C19.9462 11.6267 19.8467 11.4298 19.6826 11.2746L13.2654 5.20511Z' fill='hsla(227, 100%, 61%, 1)'/%3E%3C/svg%3E%0A");
}

.contact_btn--icon::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2654 5.20511C12.9644 4.92049 12.4897 4.93371 12.2051 5.23464C11.9205 5.53558 11.9337 6.01027 12.2346 6.29489L17.4737 11.25H4.75C4.33579 11.25 4 11.5858 4 12C4 12.4142 4.33579 12.75 4.75 12.75H17.476L12.2346 17.7073C11.9337 17.9919 11.9205 18.4666 12.2051 18.7675C12.4897 19.0684 12.9644 19.0817 13.2654 18.797L19.6826 12.7276C19.8489 12.5703 19.9489 12.3702 19.9826 12.1614C19.994 12.1094 20 12.0554 20 12C20 11.9424 19.9935 11.8863 19.9812 11.8325C19.9462 11.6267 19.8467 11.4298 19.6826 11.2746L13.2654 5.20511Z' fill='white'/%3E%3C/svg%3E%0A");
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  color: var(--clr-primary-800);
  background-size: contain;
  background-repeat: no-repeat;
}

/*  Button 2 Outline */
.content_btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  width: fit-content;
  padding: 20px 40px;
  border: 1px solid var(--clr-primary-800);
  border-radius: 36px;
  color: var(--clr-primary-800);
  margin-top: 8px;
}

.content_btn:hover,
.content_btn:active {
  background-color: var(--clr-neutral-gray-200);
  cursor: pointer;
}
.content_btn--text {
  font-size: var(--fs-button);
  font-weight: var(--fw-medium);
}

.content_btn--icon::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='15' viewBox='0 0 17 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.92454 0.705112C9.62361 0.420487 9.14892 0.433708 8.86429 0.734642C8.57967 1.03558 8.59289 1.51027 8.89382 1.79489L14.1329 6.75H1.40918C0.994966 6.75 0.65918 7.08579 0.65918 7.5C0.65918 7.91421 0.994966 8.25 1.40918 8.25H14.1351L8.89382 13.2073C8.59289 13.4919 8.57967 13.9666 8.86429 14.2675C9.14892 14.5684 9.62361 14.5817 9.92454 14.297L16.3418 8.22759C16.5081 8.07031 16.6081 7.8702 16.6418 7.66141C16.6532 7.60942 16.6592 7.55541 16.6592 7.5C16.6592 7.44241 16.6527 7.38633 16.6404 7.33246C16.6054 7.12667 16.5059 6.92976 16.3418 6.77455L9.92454 0.705112Z' fill='%233864FF'/%3E%3C/svg%3E%0A");
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  color: var(--clr-primary-800);
  background-size: contain;
  background-repeat: no-repeat;
}
